.top-rect {
    height: 375px;
    width: 275px;
    background: orange;
    display: inline-block;
    vertical-align: top;
    color: black;
    text-align: center;
    font-size: 40px;
}

.bottom-rect {
    height: 375px;
    width: 275px;
    background: blue;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: center;
    font-size: 40px;
}